

.todo-list {
  height: 300px;
  list-style-type: none;
  padding: 0;
  overflow-y: scroll;
}

.edit_todo{
  display: flex;
  gap: 30px;
  align-items: center;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-item:last-child {
  border-bottom: none;
}
.todoListName{
  font-size: 30px;
  font-weight: 500;
}
.todo-item .title {
  flex-grow: 1;
  margin-left: 10px;
}
.doned {
  text-decoration: line-through;
  margin-left: 10px;
}

.list_container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.saveInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.todo-item .actions {
  display: flex;
  gap: 5px;
}

.edit {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.deleteBtn {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.doneBtn {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.todo-item .actions button:hover {
  background-color: #0056b3;
}
