<div class="list_container">
  <h1 class="todoListName">Todo List</h1>
  <ul class="todo-list">
    <li class="todo-item" *ngFor="let todo of todos let i = index ">
      <span [ngClass]="todo.completed ? 'doned' : 'title'">{{ todo.title }}</span>
      <div class="actions">
        <button *ngIf='!todo.completed' class='doneBtn' (click)="done(i)">Done</button>
        <button class='deleteBtn' (click)="deleteTodo(todo.id, i)">Delete</button>
        <button *ngIf='!todo.completed' class="edit" (click)="editTodo(todo)">Edit</button>
      </div>
    </li>
  </ul>
  <div class="edit_todo" *ngIf="selectedTodo">
    <input class="saveInput" [(ngModel)]="selectedTodo.title" type="text">
    <button class='doneBtn' (click)="updateTodo(selectedTodo)">Save</button>
  </div>
</div>