<div class="wrapper">
  <div class="logo">
    <div class="TodoLogo">
      <img src="../../../assets/images/option4.jpg" />
    </div>
  </div>
  <div class="form_container">
    <h1 class="actions">Sign Up</h1>
    <form [formGroup]="signupForm" (ngSubmit)="signUp()" class="container">
      <input
        type="text"
        placeholder="Full Name"
        id="exampleInputfullname"
        formControlName="fullname"
      />
      <input type="email" placeholder="Email" formControlName="email" />
      <input
        type="text"
        placeholder="Mobile Number"
        formControlName="mobile"
        id="exampleInputmobilenumber"
      />
      <div class="passwordinput">
        <input
          id="password"
          placeholder="Password"
          formControlName="password"
          [type]="paswordVisible ? 'text' : 'password'"
        />
        <i
          (click)="passwordVisible(true)"
          *ngIf="!paswordVisible"
          style="color: grey; cursor: pointer"
          class="material-icons visibility_icon"
          >visibility</i
        >
        <i
          (click)="passwordVisible(false)"
          *ngIf="paswordVisible"
          style="color: grey; cursor: pointer"
          class="material-icons visibility_icon"
          >visibility_off</i
        >
      </div>
      <button type="submit">Sign up</button>
      <p>
        Already have an account?
        <a class="link" href="/login"> Log in </a>
      </p>
    </form>
  </div>
</div>
