.wrapper{
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: #dedcff;
}
.logo {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 50%;
  justify-content: center;
}
.form_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.TodoLogo {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
.TodoLogo img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.container{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.container input{
  width: 90%;
  padding: 20px 16px ;
  border: 2px solid grey;
  height: 50px;
  border-radius: 10px;
}
.passwordinput input{
  width: 100%;
  
}
.passwordinput{
  width: 90%;
  display: flex;
  justify-content: center;
  position: relative;
}
.visible{
  position: absolute;
  right: 10px;
  top: 35%;
}
.container button{
  width: 90%;
  padding: 16px 16px ;
  background: #433bff;
  border: none;
  color: #E5EBFA;
  font-size: 18px;
  font-family: 'Poppins';
  border-radius: 10px;
}
.link{
  color: #070c27;
  font-weight: 700;
  text-decoration: none;
}
.welcome{
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.actions{
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  color: #6AA3FF;
  font-weight: 600;
  width: 70%;
}
.visibility_icon {
  position: absolute;
  top: 12px;
  right: 10px;
}
@media screen and (max-width: 700px){
  .container{
    width: 100%;
    gap: 15px;
  }
  .actions{
    font-size: 25px;
  }
  .logo{
    gap: 10px;
  }
  .wrapper{
    height: 100%;
    padding-top: 30px;
    gap: 10px;
    min-height: 100vh;
    flex-direction: column;
  }
  .form_container {
    width: 100%;
    align-items: center;
    gap: 20px;
  }
  .TodoLogo{
    width: 100px;
    height: 100px;
  }
  .welcome{
    font-size: 30px;
  }
  .container input{
    height: 40px
  }
  .container button{
    height: 40px;
    padding: 0;
  }
}