.contain{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}
.todo_app{
  display: flex;
  justify-content: space-between;
}
.todo-form {
  width: 30%;
}
.todo-list{
  width: 60%;
}

.welcome{
  font-size: 30px;
  font-weight: 500;
}
.welcome br{
  display: none;
}

.logout_container{
  width: 100%;
  display: flex;
  justify-content: end;
}
.deleteBtn {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 320px){
  .contain{
    max-width: 300px;
    padding: 10px;
  }
  .welcome{
    font-size: 20px;
  }
  .welcome br{
    display: block;
  }
  .todo_app{
    width: 100%;
    flex-direction: column;
  }
  .todo-form{
    width: 100%;
  }
  .todo-list{
    width: 100%;
  }
}
