<div class='contain'>
  <h1 class="welcome">Welcome <br /> <span style="color: #6aa3ff;">{{ userName }}</span></h1>
  <div class="todo_app">
    <div class="todo-form">
      <app-todo-form></app-todo-form>
    </div>
    <div class="todo-list">
      <app-todo-list></app-todo-list>
    </div>
  </div>

  <div class="logout_container">
    <button (click)="logoutConfirm()" class="deleteBtn">Log Out</button>
  </div>

  <app-modal [isOpen]="logoutModalOpen" (isClose)="logoutModalToggle(false)">
    <div class="modal_confirm">
      <h1>Are you sure You want to Logout?</h1>
      <div class="actions_modal">
        <button class='deleteBtn' (click)="logout()">Log Out</button>
        <button class='cancelBtn' (click)="cancel()">Cancel</button>
      </div>
    </div>
  </app-modal>
</div>