<form class='todo-form' (ngSubmit)="saveTodo()">
  <input [(ngModel)]='newTodo' name='todo' type="text" placeholder="Enter todo title">
  <button type="submit"><i style="color: #fff; cursor: pointer;" class="material-icons">add</i> Add Todo</button>
</form>
<h1 class="todoListName">Completed List</h1>
<ul class="todo-list">
  <div class='no_todos' *ngIf="todos.length == 0">No Completed Todo's yet</div>
  <div *ngFor="let todo of todos let i = index;">
    <li *ngIf='todo.completed' class="todo-item">
      <span  [ngClass]="todo.completed ? 'doned' : 'title'">{{ todo.title }}</span>
      <i style="color: red; cursor: pointer;" (click)="deleteTodo(todo.id, i)" class="material-icons">delete</i>
    </li>
    <!-- <app-modal [isOpen]="deleteModalOpen" (isClose)="deleteModalToggle(false)">
      <div class="modal_confirm">
        <h1>Are you sure You want to Delete?</h1>
        <div class="actions_modal">
          <button class='deleteBtn' (click)="deleteTodo(todo.id, i)">Delete</button>
          <button class='cancelBtn' (click)="cancel()">Cancel</button>
        </div>
      </div>
    </app-modal> -->
  </div>
</ul>
